# SH|RA dependencies
sounddevice
faster-whisper
pynput
pystray
pillow
PySide6
pyttsx3
pycaw
kokoro-onnx
soundfile
requests
rapidfuzz
winrt-runtime
winrt-Windows.Media.Control
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
